div.container {
 margin-top: 20px;
}

div.the-ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center;
}

div.the-ad-title h1, div.the-ad-title p {
    color: white;
    text-shadow: 3px 3px 3px rgb(0, 0 ,0);
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgb(0, 0 ,0);
}