
{% extends "base.html.twig" %}
{% block title %}Bienvenu !{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">SYMBNB : Locations de vacances, logements, expériences et lieux</h1>
            <p class="lead">
                Symbnb est le point de départ de voyages inoubliables.
                Partez pour de nouvelles aventures près de chez vous ou à l'autre bout du monde et profitez de ...
            </p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonce</a>
            </p>
        </div>

        <h2 class="mt-5 mb-3">Nos appartements stars !</h2>


        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                    3 chambre, <strong>94&euro; / nuit</strong> <br>
                    <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                    style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf!
                        </h4>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Error eveniet sed sequi quos, quo libero vitae ut quas repellendus? Culpa.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus ! </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                    3 chambre, <strong>94&euro; / nuit</strong> <br>
                    <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                    style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf!
                        </h4>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Error eveniet sed sequi quos, quo libero vitae ut quas repellendus? Culpa.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus ! </a>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                    3 chambre, <strong>94&euro; / nuit</strong> <br>
                    <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                    style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf!
                        </h4>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Error eveniet sed sequi quos, quo libero vitae ut quas repellendus? Culpa.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus ! </a>
                    </div>

                </div>
            </div>
        </div>

        <h2 class="mt-5 mb-3">Nos propriétaires start !</h2>

        <div class="row mt-5">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Lor Chamla</h4>
                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de lior Chamla"
                            class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, molestias!</p>
                            <a href="" class="btn btn-success float-right">En savoir plus !</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Lor Chamla</h4>
                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de lior Chamla"
                            class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, molestias!</p>
                            <a href="" class="btn btn-success float-right">En savoir plus !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

{% endblock %}