{% extends 'base.html.twig' %}

{% block title %}Nos magnifiques annonces!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Voici les annonces de nos hote!</h1>
        <div class="row">
            {% for ad in ads %}
                {% set url = path('ads_show', {'slug': ad.slug}) %}
                <div class="col-md-4 mt-5">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                        {{ad.rooms}} chambre, <strong>{{ad.price}}&euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>
                        </div>
                        <a href="{{ url }}">
                            <img src="{{ad.coverImage}}" alt="Image de l'appartement"
                            style="height: 200px; width: 100%; display: block">
                        </a>

                        <div class="card-body">
                            <a href="{{ url }}">
                                <h4 class="card-title">
                                    {{ad.title}}
                                </h4>
                            </a>
                            <p class="card-text">
                                {{ad.introduction}}
                            </p>
                            <a href="{{ url }}" class="btn btn-secondary">En savoir plus ! </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
