{% extends 'base.html.twig' %}

{% block title %}crée une annance !{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
       <h1> Crée une nouvelle annonce </h1>
        <div class="mt-5">
            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}