{% extends 'base.html.twig' %}

{% block title %}{{ad.title}}!{% endblock %}

{% block body %}

    <div class="the-ad-title" style="background-image: url({{ ad.coverImage }})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2">
                <strong>{{ad.rooms}} chambres</strong> pour <strong>{{ad.price}}&euro;</strong> par nuit
            </p>
            <a haref="#" class="btn btn-primary">Réserver !</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ ad.contents|raw }}
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in ad.images %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" class="{% if loop.first %} active {% endif %}"></li>
                        {% endfor %}

                    </ol>
                    <div class="carousel-inner">
                        {% for image in ad.images %}
                            <div class="carousel-item {% if loop.first %} active {% endif %}">
                                <img class="d-block w-100" src="{{image.url}}" alt="{{image.caption}}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ad.title}}</h5>
                                    <p>{{image.caption}}</p>
                                </div>
                            </div>
                        {% endfor %}
                       
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="http://placehold.it/64x64" alt="Avatar de Joseph">
                    </div>
                    <div class="col">
                        <h3>Josef</h3>
                        <span class="badge badge-primary">3 annonces</spane>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quidem ipsa voluptatibus facilis officiis quo animi dolor aut minus odio?</p>
                <p>Nihil dolores deserunt voluptate quaerat, quis ratione tempore fugit facilis? Placeat fugit aperiam iure odit iste? Aut aperiam autem eveniet.</p>
                <p>Assumenda, ut nam. Consequatur excepturi vel maiores. Debitis voluptatibus nulla excepturi consequuntur ea quod explicabo illo eveniet eligendi perferendis? Sunt?</p>
            </div>
        </div>
    </div>
{% endblock %}
